:root {
    --dark-background-color: #1F2937;
    --hero-main-text: 48px;
    --hero-text-color: #f9faf8;
    --hero-secondary-text: 18px;
    --hero-secondary-text-color: #E5E7EB;
    --header-logo-text: 24px;
    --header-logo-color: #f9faf8;
    --button-color: #3882F6;
    --information-header-text: 36px #1F2937;
    --quote-section-background: #E5E7EB;
    --quote-text: 36px;
    --quote-text-color: #1f2937;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif!important; 
    align-items: center;
   /* transition: all 0.3s ease 0s; */
}


/* style for the header*/

header {
    background-color: var(--dark-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

/* Navigation styling */

.navLinks {
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a {
    text-decoration: none;
    color: inherit;
}

.navLinks li a:hover {
    transform: scale(1,1);
}

.headerLogoText{
    font: var(--header-logo-text);
    color: var(--header-logo-color);
    cursor: pointer;
    font-size: 24px;

}

.secondaryText {
    font-style: var(--hero-secondary-text);
    color: var(--hero-secondary-text-color);
}

/*hero styling including color and font*/


.heroContainer {
    background-color: var(--dark-background-color);
    display: flex;
    padding: 10vw;
    color: var(--hero-text-color);
}

.hero .heroImageContainer {
    max-width: 50%;
}

h1.heroText  {
    font-size: 48px;
    width: 50vw;
    margin: 0 0 10px;
}

p.heroTextSmall  {
    font-size: 18px;
    width: 50vw;
    margin: 0 0 20px;
}

.hero button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: var(--button-color);
    font-family: "Roboto", sans-serif;
    color: var(--hero-text-color);
    border-radius: 10px;
}

img {
    max-width: 45%;
    height: auto;
}
/*Random information section styling*/

.information {
    align-items: center;
    margin: 5rem;
    padding: 20px;
}

h1.informationHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
    padding: 1.5rem;
}

div.informationContainer{
    display: flex;
    justify-content: space-evenly;
}

div.informationText {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

p.text {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: auto;
}

div.imageBorder{
    border: solid 2px #3882F6;
    min-width: 100px;
    min-height: 100px;
    border-radius: 10px;
}

/* quote decoration and styling */

.quoteContainer {
    display: flex;
    flex-direction: column;
    padding: 10vw;
    background-color: var(--quote-section-background);
}

blockquote {
    display: flex;
    align-items: center;
    margin: 5vw;
  }
  
  blockquote p.quoteText {
    padding: 15px;
    border-radius: 5px;
    font-size: 36px;
    font-style: italic;
    color: var(--quote-text-color);
    font-weight: 200;
  }

  .quoteAuthor {
    display: flex;
    margin-inline-start: auto;
  }

  /*Call to action*/

  div.callToAction{
    display: grid;
    align-items: center;
    flex-direction: column;
  }
  
  div.callBackground {
    display: grid;
    grid-auto-flow: row;
    background-color: var(--button-color);
    width: 90vw;
    max-height: 40vh;
    margin: 5rem;
    padding: 2rem;
    border-radius: 10px;
  }

  h1.callHeader{
    font-size: 24px;
    font-weight: 700;
  }

  p.callText {
    font-size: 18px;
  }

  button.callButton {
    display: grid;
    margin-inline-start: auto;
    justify-content: space-around;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--button-color);
    border-color: 5px #fff;
    min-width: fit-content;
  }

  /* footer */

  footer.footer {
    background-color: var(--dark-background-color);
    min-height: 5rem;
  }

  p.footerText  {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin: 2rem;
    padding: 2rem;
  }